.map {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.map .leaflet-container {
  height: 100%;
}

.info-name {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
.info-flag img {
  width: 50px;
  border-radius: 5px;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}
.info-container {
  widows: 150px;
}
.info-confirmed {
  margin-top: 5px;
}

.info-deaths {
  margin-top: 5px;
}
.info-recovered {
  /* font-size:12px; */
  margin-top: 5px;
}
